/**
    *Styling for my Portfolio page
**/

*{
box-sizing: border-box;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header {
float:left;
height:10%;
width: 100%;
background: lightgreen;
font-family: 'Georgia', Times, 'Times New Roman', serif;
} 
.bio{
    position: fixed;
    right:425px;
    top:0;
}
.container2 {
    position:relative;
    margin:0 200px;
    font-size:15px;
    padding:20px;
    background-color:lightblue;
    top:100px;

}
#bio-image {
    height: 300px;
    float:right;
}
.links{
    float:right
}
.port-links{
    align-content:center;
    margin:0 200px;
}
